<ion-header>
    <ion-toolbar>
        <ion-title>Calendário</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openCalendar()">
                <ion-icon slot="icon-only" name="filter"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-list-header>
            <ion-label>
                <p>25-05-2022</p>
                <h1>Esta semana</h1>
            </ion-label>
            <ion-button>
                <ion-icon slot="icon-only" name="eye"></ion-icon>
            </ion-button>
        </ion-list-header>
        <ion-item *ngFor="let item of [].constructor(4)" lines="full" detail button>
            <ion-avatar slot="start">
                <img src="./assets/img/icon.png" />
            </ion-avatar>
            <ion-label>
                <h2>Finn</h2>
                <h3>I'm a big deal</h3>
                <p>Listen, I've had a pretty messed up day...</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-label>
                <p>30-05-2022</p>
                <h1>Próxima semana</h1>
            </ion-label>
            <ion-button>
                <ion-icon slot="icon-only" name="eye"></ion-icon>
            </ion-button>
        </ion-list-header>

        <ion-item *ngFor="let item of [].constructor(4)" lines="full" detail button>
            <ion-avatar slot="start">
                <img src="./assets/img/icon.png" />
            </ion-avatar>
            <ion-label>
                <h2>Poe</h2>
                <h3>New Ride</h3>
                <p>I just upgraded my X-Wing. Next time...</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>