<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Calendário</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Início</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="wiki">
            <ion-icon name="library"></ion-icon>
            <ion-label>Wiki</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>