<ion-header>
    <ion-toolbar>
        <ion-title>Wiki</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-list>
        <ion-card button>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img [src]="'assets/img/icon.png'" />
                </ion-thumbnail>
                <ion-label>
                    <h3>História</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card button>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img [src]="'assets/img/icon.png'" />
                </ion-thumbnail>
                <ion-label>
                    <h3>Temporadas</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card button>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img [src]="'assets/img/icon.png'" />
                </ion-thumbnail>
                <ion-label>
                    <h3>Especiais</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card button>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img [src]="'assets/img/icon.png'" />
                </ion-thumbnail>
                <ion-label>
                    <h3>Organização</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card button>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img [src]="'assets/img/icon.png'" />
                </ion-thumbnail>
                <ion-label>
                    <h3>Juris</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card button>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img [src]="'assets/img/icon.png'" />
                </ion-thumbnail>
                <ion-label>
                    <h3>Videos</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card button>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img [src]="'assets/img/icon.png'" />
                </ion-thumbnail>
                <ion-label>
                    <h3>Plateia</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card button>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img [src]="'assets/img/icon.png'" />
                </ion-thumbnail>
                <ion-label>
                    <h3>Diversos</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                </ion-label>
            </ion-item>
        </ion-card>

    </ion-list>

</ion-content>